doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Cărți SIBF
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Câteva cărți în formatul SIBF precum „Moara cu noroc“ și „Moromeții“.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-family -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
        font-size 1.2em
        line-height 1.4
      .header, .footer
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline
      .footer
        clear both
        padding-top 1em
        small
          color #999
          a
            color #888

  body
    .header: :markdown-it
      # [Cărți SIBF](.)

      Câteva cărți în formatul SIBF.

      * [Moara cu noroc](moara_cu_noroc) de Ioan Slavici
      * [Povești](povesti) de Ion Creangă
      * [Moromeții](morometii) de Marin Preda

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/sibf)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
