doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Cărți SIBF
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Câteva cărți în formatul SIBF precum „Moara cu noroc“ și „Moromeții“.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      .header
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline

  body: .header: :markdown-it

    # [Cărți SIBF](.)

    * [Moara cu noroc](moara_cu_noroc) de Ioan Slavici
    * [Povești](povesti) de Ion Creangă
    * [Moromeții](morometii) de Marin Preda

    Created by [Paul Nechifor](/).
