extends ../intercessor-layout

block content
  .readable
    ul
      li
        a(href=app.root + 'moara_cu_noroc') Moara cu noroc
        |  de Ioan Slavici
      li
        a(href=app.root + 'povesti') Povești
        |  de Ion Creangă
      li
        a(href=app.root + 'morometii') Moromeții
        |  de Marin Preda
